  body {
    font: 12px sans-serif;
  }

  path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
  }

  .axis path, .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
  }

  #selectTypeButton{
    position: absolute;
    transition: .5s ease;
    left: 50px;
    top: 700px;
  }

  #selectNumButton{
    position: absolute;
    transition: .5s ease;
    left: 250px;
    top: 700px;
  }

  .slidecontainer {
    width: 100%; /* Width of the outside container */
    position: absolute;
    left: 500px;
    top: 700PX;
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 10%; /* Full-width */
    height: 25px; /* Specified height */

    /* position: absolute;
    left: 250px;
    top: 375px; */

    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }