  body {
    font: 12px sans-serif;
  }

  path {
    stroke: slateblue;
    stroke-width: 2;
    fill: none;
  }

  .axis path, .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
  }

    /* button group */
    .btn-group select {
      background-color: #4CAF50; /* Green background */
      border: 1px solid green; /* Green border */
      color: white; /* White text */
      padding: 10px 24px; /* Some padding */
      cursor: pointer; /* Pointer/hand icon */
      float: left; /* Float the buttons side by side */
    }
    
    .btn-group button:not(:last-child) {
      border-right: none; /* Prevent double borders */
    }
    
    /* Clear floats (clearfix hack) */
    .btn-group:after {
      content: "";
      clear: both;
      display: table;
    }
    
    /* Add a background color on hover */
    .btn-group button:hover {
      background-color: #3e8e41;
    }

  #selectParameterButton{
    /* position: absolute; */
    transition: .5s ease;
    /*left: 50px; /* ADJUST */
    /*top: 700px; /* ADJUST */
  }


/* RING */
  #ball1 {
    height: 25px;
    width: 25px;
    position: absolute;
    background-color:rgb(0, 119, 255);
    border-radius: 50%;
   }
   #ball2 {
    height: 25px;
    width: 25px;
    position: absolute;
    background-color: rgb(0, 119, 255);
    border-radius: 50%;
   }
   #ball3 {
    height: 25px;
    width: 25px;
    position: absolute;
    background-color: rgb(0, 119, 255);
    border-radius: 50%;
   }
   #ball4 {
    height: 25px;
    width: 25px;
    position: absolute;
    background-color: rgb(0, 119, 255);
    border-radius: 50%;
   }
   #ball5 {
    height: 25px;
    width: 25px;
    position: absolute;
    background-color: rgb(0, 119, 255);
    border-radius: 50%;
   }
   #ball6 {
    height: 25px;
    width: 25px;
    position: absolute;
    background-color: rgb(0, 119, 255);
    border-radius: 50%;
   }
   #ball7 {
    height: 25px;
    width: 25px;
    position: absolute;
    background-color: rgb(0, 119, 255);
    border-radius: 50%;
   }
   #ball8 {
    height: 25px;
    width: 25px;
    position: absolute;
    background-color: rgb(0, 119, 255);
    border-radius: 50%;
   }
   #ball9 {
    height: 25px;
    width: 25px;
    position: absolute;
    background-color: rgb(0, 119, 255);
    border-radius: 50%;
   }
   #ball10 {
    height: 25px;
    width: 25px;
    position: absolute;
    background-color: rgb(0, 119, 255);
    border-radius: 50%;
   }
   #ball11 {
    height: 25px;
    width: 25px;
    position: absolute;
    background-color: rgb(0, 119, 255);
    border-radius: 50%;
   }
   #ball12 {
    height: 25px;
    width: 25px;
    position: absolute;
    background-color: rgb(0, 119, 255);
    border-radius: 50%;
   }
   #ball13 {
    height: 25px;
    width: 25px;
    position: absolute;
    background-color: rgb(0, 119, 255);
    border-radius: 50%;
   }
   #ball14 {
    height: 25px;
    width: 25px;
    position: absolute;
    background-color: rgb(0, 119, 255);
    border-radius: 50%;
   }
   #ball15 {
    height: 25px;
    width: 25px;
    position: absolute;
    background-color: rgb(0, 119, 255);
    border-radius: 50%;
   }
   #ball16 {
    height: 25px;
    width: 25px;
    position: absolute;
    background-color: rgb(0, 119, 255);
    border-radius: 50%;
   }
   #ball17 {
    height: 25px;
    width: 25px;
    position: absolute;
    background-color: rgb(0, 119, 255);
    border-radius: 50%;
   }
   #ball18 {
    height: 25px;
    width: 25px;
    position: absolute;
    background-color: rgb(0, 119, 255);
    border-radius: 50%;
   }
   #ball19 {
    height: 25px;
    width: 25px;
    position: absolute;
    background-color: rgb(0, 119, 255);
    border-radius: 50%;
   }
   #ball20 {
    height: 25px;
    width: 25px;
    position: absolute;
    background-color: rgb(0, 119, 255);
    border-radius: 50%;
   }
   #ball21 {
    height: 25px;
    width: 25px;
    position: absolute;
    background-color: rgb(0, 119, 255);
    border-radius: 50%;
   }
   #ball22 {
    height: 25px;
    width: 25px;
    position: absolute;
    background-color: rgb(0, 119, 255);
    border-radius: 50%;
   }
